{
  "mcpServers": {
    "radarr_sonarr": {
      "command": "uv",
      "args": [
        "--directory", "D:/berry/Projects/radarr-sonarr-mcp-python",
        "run", "radarr_sonarr_mcp/server.py"
      ],
      "env": {
        "NAS_IP": "10.0.0.23",
        "RADARR_PORT": "7878",
        "SONARR_PORT": "8989",
        "RADARR_API_KEY": "x",
        "SONARR_API_KEY": "x",
        "MCP_SERVER_PORT": "3000",
        "JELLYFIN_BASE_URL": "http://10.0.0.23:5055",
        "JELLYFIN_API_KEY": "your_jellyfin_api_key",
        "JELLYFIN_USER_ID": "your_jellyfin_user_id",
        "PLEX_BASE_URL": "http://10.0.0.23:32400",
        "PLEX_TOKEN": "your_plex_token"
      }
    }
  }
}
